#quick-exit{
    position:fixed;
    right:0;
    top:20%;
    font-size:200%;
    line-height:1;
    padding:.2em .2em .2em .7em;
    white-space:nowrap;
    border-radius:1.7em 0 0 1.7em;
    cursor:pointer;
    font-family:sans-serif;
    font-weight:bold;
    transform-origin:right center;
    transition:transform 10ms;
    z-index:99999;
    background:#8B17D2;
    color:white;
    border:0.2em solid white;
    border-right:none;
    box-shadow:0 0 0 0.1em #8B17D2,2px 2px 5px 0.1em rgba(0,0,0,0.5)
}
    
#quick-exit a{color:white}

#quick-exit a:focus,#quick-exit a:hover{color:#1D4F9C !important}

#quick-exit:hover{transform:scale(1.2)}

#quick-exit header,
#quick-exit footer,
#quick-exit::after{display:block;font-size:50%;font-weight:normal;text-align:center;margin:.3em 0}

#quick-exit header strong,#quick-exit footer strong,#quick-exit::after{font-weight:bold;text-transform:uppercase}

#quick-exit[accesskey]::after{content:"or press '" attr(accesskey) "'"}
#quick-exit[data-accesskey]::after{content:"or press '" attr(data-accesskey) "'"}
#quick-exit ul,#quick-exit li{display:inline;margin:0;padding:0;list-style:none}
#quick-exit a{text-decoration:none}
#quick-exit svg{height:1em;width:auto;fill:currentColor}

